/* Overall Site */
body {
    font-family: 'Lato', sans-serif;
    color:#747704;
    font-weight:300;
}
img, embed, object, video {
    max-width:100%;
}

/*Text*/
.text-muted {
    color:#BCBBBB;
}

.text-thin {
    font-weight:100;
}

.title-super {
    font-size: 3em;
}

.title-logo {
    margin-top:20px;
}