@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* Overall Site */
body {
    font-family: 'Lato', sans-serif;
    color:#747704;
    font-weight:300;
}
img, embed, object, video {
    max-width:100%;
}

a {
    color:#F8981C;
    text-decoration: none;
    font-size: 1.5em;
}

a:hover {
    text-decoration: overline;
    font-size: 1.7em;
    color:#747704;
}

hr {
    border: solid 1px #bcbbbb;
}
/*Text*/

.text-muted {
    color:#bcbbbb;
}

.title-super {
    font-weight:100;
    font-size:3em;
}

/*Specific*/
.logo {
    color:#f8981c;
    font-size:6em;
}

.project {
    padding-bottom: 50px;
}

.project h3 {
    text-transform: uppercase;
}

.social {
    background-color:#f8981c;
    font-size:2.5em;
    min-height: 70px;
    padding-top: 30px;
}

.social a {
    color:#ffffff;
    padding:10px;
}

.social a:hover {
    text-decoration: none;
}

.modal-body {
    font-size: 1.2em;
    line-height: 150%;
}

/* Media Queries */
@media (max-width:570px) {
    .logo {
        display:none;
    }
    .title-super {
    font-size: 2.8em;
    }
}
